In [2]:
import numpy as np
import pandas as pd

In [7]:
df1=pd.read_csv('example_data.csv', sep=';')

In [8]:
print(df1.to_string())

                      time                                  place magType  mag  alert  tsunami
0  2018-10-13 11:10:23.560        262km NW of Ozernovskiy, Russia     mww  6.7  green        1
1  2018-10-13 04:34:15.580            25km E of Bitung, Indonesia     mww  5.2  green        0
2  2018-10-13 00:13:46.220              42km WNW of Sola, Vanuatu     mww  5.7  green        0
3  2018-10-12 21:09:49.240  13km E of Nueva Concepcion, Guatemala     mww  5.7  green        0
4  2018-10-12 02:52:03.620    128km SE of Kimbe, Papua New Guinea     mww  5.6  green        1

In [10]:
df1

,time,place,magType,mag,alert,tsunami
0,2018-10-13 11:10:23.560,"262km NW of Ozernovskiy, Russia",mww,6.7,green,1
1,2018-10-13 04:34:15.580,"25km E of Bitung, Indonesia",mww,5.2,green,0
2,2018-10-13 00:13:46.220,"42km WNW of Sola, Vanuatu",mww,5.7,green,0
3,2018-10-12 21:09:49.240,"13km E of Nueva Concepcion, Guatemala",mww,5.7,green,0
4,2018-10-12 02:52:03.620,"128km SE of Kimbe, Papua New Guinea",mww,5.6,green,1

In [17]:
DataFrame.___dict___

NameError: name 'DataFrame' is not defined