In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('data/earthquakes.csv')

In [ ]:
df.empty

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
pd.get_option('display.max_columns')

In [ ]:
pd.set_option('display.max_columns', 26)

In [ ]:
df.head()

In [ ]:
pd.describe_option('display')

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.describe(percentiles=[0.05])

In [ ]:
df.describe(include='all')

In [ ]:
df.columns

In [ ]:
df.mag.describe()

In [ ]:
df.gap.info()

In [ ]:
df.nunique()

In [ ]:
df.alert.value_counts()

In [ ]:
df.alert.unique()

In [ ]:
df.alert.nunique()

In [ ]:
df.head()

In [ ]:
df.alert.dtype

In [33]:
df.alert.value_counts()

green    58
red       1
Name: alert, dtype: int64

## value_counts()
Series.value_counts(normalize=False, sort=True, ascending=False, bins=None, dropna=True)[source]

In [35]:
df.alert.value_counts(dropna=False)

NaN      9273
green      58
red         1
Name: alert, dtype: int64

## unique
Series.unique()\
Series.nunique(dropna=True)\
property Series.is_unique

In [39]:
df.magType.unique()

array(['ml', 'md', 'mb', 'mww', 'mb_lg', 'mwr', 'mw', 'mh', 'ms_20',
       'mwb', nan], dtype=object)

In [41]:
df.magType.nunique()

10

In [42]:
df.magType.is_unique

False

In [45]:
df.dmin.min()

0.0006476

In [47]:
df.dmin.dtype

dtype('float64')

In [54]:
df.dmin[:5].isin([2])

0    False
1    False
2    False
3    False
4    False
Name: dmin, dtype: bool

In [58]:
df.index.equals(df.index)

True

In [68]:
df[['time','mag']]

               time   mag
0     1539475168010  1.35
1     1539475129610  1.29
2     1539475062610  3.42
3     1539474978070  0.44
4     1539474716050  2.16
...             ...   ...
9327  1537230228060  0.62
9328  1537230135130  1.00
9329  1537229908180  2.40
9330  1537229545350  1.10
9331  1537228864470  0.66

[9332 rows x 2 columns]

In [71]:
df.get(['mag','alert'], 'no column')

       mag alert
0     1.35   NaN
1     1.29   NaN
2     3.42   NaN
3     0.44   NaN
4     2.16   NaN
...    ...   ...
9327  0.62   NaN
9328  1.00   NaN
9329  2.40   NaN
9330  1.10   NaN
9331  0.66   NaN

[9332 rows x 2 columns]

In [90]:
colm=df.columns.array()

TypeError: 'PandasArray' object is not callable

In [80]:
print(colm)

Index(['alert', 'cdi', 'code', 'detail', 'dmin', 'felt', 'gap', 'ids', 'mag',
       'magType', 'mmi', 'net', 'nst', 'place', 'rms', 'sig', 'sources',
       'status', 'time', 'title', 'tsunami', 'type', 'types', 'tz', 'updated',
       'url'],
      dtype='object')

In [88]:
np.where([colm=='gap'])

(array([0], dtype=int64), array([6], dtype=int64))

In [89]:
df[[col for col in df.columns[np.where([colm=='code']),np.where([colm=='felt'])]]]

IndexError: too many indices for array: array is 1-dimensional, but 2 were indexed